### Sentiment analysis

In [1]:
import pandas as pd 
import numpy as np

In [25]:
df = pd.read_csv('/home/dfm4ik/Documents/Scripts/python_folder/diploma/sentiment_twitter.csv')

df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [26]:
df_pos_neg = df[df['sentiment'].isin(['positive','negative'])]


df_pos_neg['sentiment'] = df_pos_neg['sentiment'].map({'positive':1,'negative':0})

/tmp/ipykernel_41979/1929853925.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pos_neg['sentiment'] = df_pos_neg['sentiment'].map({'positive':1,'negative':0})

In [27]:
df_pos_neg = df_pos_neg[['text','sentiment']]

In [38]:
import re 
from nltk.stem.porter import PorterStemmer

import nltk


#
df_pos_neg['without_links'] = df_pos_neg['text'].apply(lambda x : re.sub(r"@[A-Za-z0-9]",' ',x))
df_pos_neg['without_links'] = df_pos_neg['text'].apply(lambda x : re.sub(r"[^A-Za-z0-9]+",' ',x))
df_pos_neg['without_links'] = df_pos_neg['without_links'].apply(lambda x : 
                                                                re.sub(r"https?://[A-Za-z0-9./]+",' ', x ))
def step(x):
    y = x.split()
    porter_stemmer = PorterStemmer()
    stopwords = nltk.corpus.stopwords.words('english')
    y = [porter_stemmer.stem(word.lower()) for word in y if word not in set(stopwords)]
    y = " ".join(y)                                                          
    return y
df_pos_neg['without_links'] = df_pos_neg['without_links'].apply(lambda x: step(x))

In [40]:
df_pos_neg

,text,sentiment,without_links
1,Sooo SAD I will miss you here in San Diego!!!,0,sooo sad i miss san diego
2,my boss is bullying me...,0,boss bulli
3,what interview! leave me alone,0,interview leav alon
4,"Sons of ****, why couldn`t they put them on t...",0,son put releas alreadi bought
6,2am feedings for the baby are fun when he is a...,1,2am feed babi fun smile coo
...,...,...,...
27475,enjoy ur night,1,enjoy ur night
27476,wish we could come see u on Denver husband l...,0,wish could come see u denver husband lost job ...
27477,I`ve wondered about rake to. The client has ...,0,i wonder rake the client made clear net forc d...
27478,Yay good for both of you. Enjoy the break - y...,1,yay good enjoy break probabl need hectic weeke...
27479,But it was worth it ****.,1,but worth

In [44]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    st = ""
    for w in w_tokenizer.tokenize(text):
        st = st + lemmatizer.lemmatize(w) + " "
    return st
df_pos_neg['without_links'] = df_pos_neg['without_links'].apply(lemmatize_text)

In [41]:
from sklearn.model_selection import train_test_split
X = df_pos_neg['without_links']
y = df_pos_neg['sentiment']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

from collections import defaultdict

vec = CountVectorizer(max_features = 3000)
X = vec.fit_transform(X_train)
vocab = vec.get_feature_names_out()
X = X.toarray()
word_counts = {}
for l in range(2):
    word_counts[l] = defaultdict(lambda: 0)
for i in range(X.shape[0]):
    l = y_train[i]
    for j in range(len(vocab)):
        word_counts[l][vocab[j]] += X[i][j]

KeyError: 0